html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8f8f8;
  &:has(.dark-mode) {
    background-color: #141414;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --hairline: 1px;
  --mermaid-accent: #999999;
  --blurryness: 20px;
  --box-shadow: 0 10px 25px 10px #0000001a;
}

.dark-mode {
  --mermaid-accent: #676767;
}

@media (min-resolution: 2dppx) {
  :root {
    --hairline: 0.5px;
  }
}

html {
  scrollbar-color: var(--mermaid-accent) transparent;
}